<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="launch_rviz" default="false"/>
    <arg name="rviz_config_file" value="$(find object_spawning_gazebo)/rviz/ball_shooter.rviz"/>

    <!-- Pose Publisher-->
    <group ns="lr">
        <include file="$(find object_spawning_gazebo)/launch/pose_publisher.launch">
            <arg name="token_name" value="sphere"/>
            <arg name="tf_name" value="target"/>
            <arg name="world" value="world"/>
        </include>
    </group>

    <!-- Spawn Ball Trajectile Model (Gazebo World must have been already launched) -->
    <include file="$(find object_spawning_gazebo)/launch/spawn_model.launch">
        <arg name="model_name" default="sphere"/>
        <arg name="x_init_pose" default="-3.0" />
        <arg name="y_init_pose" default="0.0" />
        <arg name="z_init_pose" default="0.0" />
    </include>

    <!-- Launch RVIZ node-->
    <group if="$(arg launch_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)"/>
    </group>

</launch>
